.container {
    padding-top: 6em;
    display: flex;
    width: 70%;
    margin: auto;
    gap: 3.3em;
    justify-content: space-around;
}

#favcolor {
    display: flex;
}
#changesize {
    box-shadow: none;
    border: none;
}
.navbutton {
    background-color: whitesmoke;
    border: none;
    width: 12em;
    height: 2.5em;
    font-family: Prompt, sans-serif;
    font-size: 18px;
    box-shadow: 0.4em 0.4em 0em rgba(0, 0, 0, 0.1);
}
.navbutton:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: 0.2s;
    
}
.menu {
    gap: 1em;
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.canvas_container {
    flex: 2;
    display: flex;
    
}
.canvas {
   flex: 1;
   display: flex;
   max-width: 30em;
   aspect-ratio: 1 / 1;
   flex-wrap: wrap;
   box-shadow: 3em 3em 6em rgba(0, 0, 0, 0.3);
}
#logo1 {
    font-weight: bold;
    font-style: italic;
    text-shadow: 0.07em 0.07em 0em rgba(0, 0, 0, 0.1);
}
#logo2 {
    font-weight: 900;
    text-shadow: 0.07em 0.07em 0em rgba(165, 165, 165, 0.9);;
}
.logo {
    padding-top: 1em;
    font-size: 55px;
    text-align: center;
    font-family: Prompt;
    
}
body {
    background-color: #e0e0e0;
    opacity: 1;
    background-image:  radial-gradient(#2a2a2a 1.05px, transparent 1.05px), radial-gradient(#2a2a2a 1.05px, #e0e0e0 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}
.box {
    background: whitesmoke;
    font-weight: bold; 
    height:auto;
}

.box:before {
    content:'';
    aspect-ratio: 1 / 1;

    float:left;
    padding-top:100%;
}